.message-card {
  padding: 10px;
  margin: 10px;
  width: fit-content;
}

.user-message {
  margin-left: auto;
  color: #fff;
  text-align: left !important;
}

.message-usercard {
background-color: #E1FDC6 !important;
font-style: italic;
}

.message-guestcard {
  background-color: #fff !important;
}